
#title{
  background-color: #ff4c68;
color: white;
}


.container-fluid{
  padding: 3% 15% 7%;
}

body{
  font-family:"Roboto", sans-serif;;
}
h1{
  font-family: "Montserrat",sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family:"Roboto", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat",sans-serif;
  font-size: 1.5rem;
}

p{
  color:#8F8F8F;
}
/*navigation bar*/



.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem
}

.nav-item{

  padding: 0 18px; /*2 valores são vertical e horizontal*/
}

.nav-link{
font-size: 1.2rem;
font-family: "Roboto", sans-serif;

}

/*download buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}

/*imagem do titulo*/
.iphone{
  width: 25%;
  transform: rotate(25deg); /* para rodar se usa degrees DEG  */
  position: absolute;
right: 20%;
}


/* features */

#features{
padding: 7% 15%;
background: #fff;
position: relative;
z-index: 1;/* para deixar a parte por cima da imagem */
}

.feature-box{
  text-align: center;
  padding: 5%;

}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* testeminhos */

#testimonials{


  text-align: center;
  background-color: #ef8172;
  color: white;
}
.testemunho-dog{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testemunho-lady{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
width: 15%;
margin: 20px 20px 50px
}


.carousel-item{
  padding: 7% 15%;
}

/* seção de preços */

#pricing{
padding: 100px;
text-align: center;
}

.preço-coluna{
padding: 3% 2%;
}


@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .iphone {
    position: static; /* pra nao ser sobreposta */
    transform: rotate(0);/* corrigindo a rotação */
  }

}



/* CTA e footer */

#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;

}

.cta-head{
  font-family: "Montserrat",sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer{
  text-align: center;
  padding: 100px;

}
.social-icons{
margin: 20px 10px;
}
